.wrapper{
  min-width: 600px;
  margin: auto;
}

.header{
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.progress{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.main{}
